name: Test helioviewer.org

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # Workflow dispatch is used to trigger these tests from the helioviewer.org
  # repository. It passes the commit so that the tests can run against the code
  # submitted with the pull request. This lets us run the latest tests
  # against new pull requests. This may fail if the patch requires updates to
  # tests.
  workflow_dispatch:
    inputs:
      test_pr:
        description: "Test repository pull request number. If blank, use latest commit"
        required: false
      helioviewer_pr:
        description: "Helioviewer.org pull request number. If blank, use latest commit."
        required: false
      api_pr:
        description: "Helioviewer API pull request number. If blank, use latest commit."
        required: false

permissions:
  contents: read

jobs:
  typescript-check:
    # This only runs on the test code, it does not need to run when testing a
    # PR from helioviewer.org
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install node dependencies
        run: npm ci

      - name: Run typescript
        run: npx tsc -p tests/tsconfig.json --noEmit

  code-style:
    # This only runs on the test code, it does not need to run when testing a
    # PR from helioviewer.org
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install node dependencies
        run: npm ci

      - name: Prettier check (tests and certain files)
        run: npm run prettier-check

  playwright-e2e-tests:
    strategy:
      matrix:
        shardIndex: [1,2,3,4,5]
        shardTotal: [5]
      fail-fast: false

    timeout-minutes: 99
    runs-on: ubuntu-latest
    steps:
      - name: Checkout test code for composite action
        uses: actions/checkout@v4
        with:
          repository: 'Helioviewer-Project/helioviewer.org-tests'
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.test_pr != '' && format('refs/pull/{0}/head', github.event.inputs.test_pr) || github.ref}}

      - name: Run Playwright tests
        uses: ./.github/actions/playwright-test
        with:
          helioviewer-org-ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.helioviewer_pr != '' && format('refs/pull/{0}/head', github.event.inputs.helioviewer_pr) || 'main' }}
          api-ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.api_pr != '' && format('refs/pull/{0}/head', github.event.inputs.api_pr) || 'main' }}
          helioviewer-tests-ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.test_pr != '' && format('refs/pull/{0}/head', github.event.inputs.test_pr) || github.ref}}
          shard-index: ${{ matrix.shardIndex }}
          shard-total: ${{ matrix.shardTotal }}
  merge-reports:
    # Merge reports after playwright-tests, even if some shards have failed.
    if: ${{ !cancelled() }}
    needs: [playwright-e2e-tests]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout test code
      uses: actions/checkout@v4

    - name: Merge reports
      uses: ./.github/actions/playwright-merge-reports
      with:
        test-repo-path: .
